:root {
    --white: #FFFFFF;
    --blue: #4d5ae5;
    --gray: #2e2f42; 
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--white);
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--blue);
    text-decoration: none;
}

.studio-word-decorate {
    color: #2e2f42;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}


.nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.nav-item:hover {
    color: #404bbf;
}

.nav-item:focus {
    color: #404bbf;
}

.main-contacts {
    font-style: normal;
    list-style: none;
}

.general-contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.general-contact:hover {
    color: #404bbf;
}

.general-contact:focus {
    color: #404bbf;
}

.first-section {
    background-color: #2e2f42;
}

.main-headline {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:#ffffff;
}

.button-order-service {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.button-order-service:hover {
    background-color: #404BBF;
}

.button-order-service:focus {
    background-color: #404BBF;
}


.third-section-headline,
.quality {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.person {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.our-team-headline {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}


.quality-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}

.person-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;  
}

.third-section {
    background-color: #F4F4FD;
}

.third-section-headline {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.forth-section {
    background-color: #F4F4FD;
}

.footer {
    background-color: #2e2f42;
}

.studio-word-footer {
    color: #f4f4fd;
}

.info {
    background-color: #FFFFFF;
}

.p-footer {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.portfolio-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.studio-word-decorate-portfolio {
    color: #2e2f42;
}

.portfolio-nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.portfolio-nav-item:hover {
    color: #404bbf;
}

.portfolio-nav-item:focus {
    color: #404bbf;
}

.general-contact-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.general-contact-portfolio:hover {
    color: #404bbf;
}

.general-contact-portfolio:focus {
    color: #404bbf;
}

.button-portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
}

.button-portfolio:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}

.button-portfolio:focus {
    color: #FFFFFF;
    background-color: #404BBF ;
}

.advantages-headline {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.helpful-fitches {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-footer {
    background-color: #2e2f42;
}

.studio-word-decorate-portfolio-footer {
    color: #f4f4fd;
}