img {
    display: block;
}
:root {
    --white: #FFFFFF;
    --blue: #4d5ae5;
    --gray: #2e2f42; 
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--white);
}

.logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--blue);
    text-decoration: none;
    margin-right: 76px;
    display: inline-block;
}

.studio-word-decorate {
    color: #2e2f42;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}


.nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
}

.nav-item:hover {
    color: #404bbf;
}

.nav-item:focus {
    color: #404bbf;
}

.main-contacts {
    font-style: normal;
    list-style: none;
}

.general-contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.general-contact:hover {
    color: #404bbf;
}

.general-contact:focus {
    color: #404bbf;
}

.first-section {
    background-color: #2e2f42;
    padding: 188px 0;
}

.main-headline {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:#ffffff;
    max-width: 496px;
}

.button-order-service {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0;
}

.button-order-service:hover {
    background-color: #404BBF;
}

.button-order-service:focus {
    background-color: #404BBF;
}

.third-section-headline,
.quality {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.person {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.our-team-headline {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}


.quality-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}

.person-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    text-align: center;
}

.third-section {
    background-color: #F4F4FD;
    padding-bottom: 120px;
}

.third-section-headline {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.forth-section {
    background-color: #F4F4FD;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.studio-word-footer {
    color: #f4f4fd;
}

.people-item {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.p-footer {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.portfolio-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.studio-word-decorate-portfolio {
    color: #2e2f42;
}

.portfolio-nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.portfolio-nav-item:hover {
    color: #404bbf;
}

.portfolio-nav-item:focus {
    color: #404bbf;
}

.general-contact-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.general-contact-portfolio:hover {
    color: #404bbf;
}

.general-contact-portfolio:focus {
    color: #404bbf;
}

.button-portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
}

.button-portfolio:hover {
    border: 1px solid transparent;
}

.button-portfolio:focus {
    border: 1px solid transparent;
}

.button-portfolio:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}

.button-portfolio:focus {
    color: #FFFFFF;
    background-color: #404BBF ;
}

.advantages-headline {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.helpful-fitches {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-footer {
    background-color: #2e2f42;
}

.studio-word-decorate-portfolio-footer {
    color: #f4f4fd;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.menu-header {
    display: flex;
    gap: 40px;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.second-section {
    padding: 120px 0;
}

.second-section-list {
    display: flex;
    gap: 24px;
}

.quality {
    margin-bottom: 8px;
    flex-basis: calc((100% - 72px) / 4);
}

.third-section-headline {
    margin-bottom: 72px;
}

.third-section-list {
    display: flex;
    gap: 24px;
}

.third-section-item {
    flex-basis: calc((100% - 48px) / 3);
}

.forth-section {
    padding: 120px 0;
}

.our-team-headline {
    margin-bottom: 72px;
}

.forth-section-list {
    display: flex;
    gap: 24px;
}

.person-and-job {
    padding: 32px 0;
}

.header-portfolio {
    border-bottom: 1px solid #e7e9fc;
}

.nav-and-contacts {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-portfolio {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
    gap: 40px;
}

.portfolio-nav-item {
    padding: 24px 0;
}

.contacts-list-portfolio {
    display: flex;
    gap: 40px;
}

.main-section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.buttons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.advantages-item {
    flex-basis: calc((100% - 48px) / 3);
}

.applications {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.h1, .h2, .h3 {
    margin: 0;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--blue);
    text-decoration: none;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
}

.ul {
    margin: 0;
    padding: 0;
}

.second-section-item {
    flex-basis: calc((100% - 72px) / 4);
}